@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);
@import url(https://fonts.googleapis.com/css?family=Exo:500italic,400);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
    background: url('../img/bg.png') repeat;
    color: #000;
    font-family: Merriweather Sans;
}

a {
    color: #39b1c6;
}

a:hover {
    color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather Sans;
}

#mainTable {
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.home h1, h2 {
    text-align: center;
}

.btn-lg {
    margin: 5px;
}

.dealer img {
    max-width: 150px;
}

.player img {
    max-width: 150px;
}